* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;    
}

.header {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orangered;
    border-bottom: 2px solid orange;
}

.header__logo {
    color: white;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.catalog {
    width: 100%;
    padding: 20px;
    display: flex;
}

.catalog__filters {
    width: 30%;
    min-width: 200px;
    padding-right: 20px;
    border-right: 1px solid orange;
    display: flex;
    flex-direction: column;
}

.catalog__body {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.catalog__options {
    width: 100%;
    height: 20px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid orange;
}

.catalog__list {
    width: 100%;
    min-height: 700px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 30px;
}

.card {
    width: 30%;
    padding: 15px;
    border: 1px solid orange;
    border-radius: 6px;
    flex-direction: column;
    align-items: center;
}

.card__image {
    width: 100%;
}

.card__title {
    font-size: 24px;
    text-align: center;
}

.card__info {
    font-size: 14px;
    color: #999;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card__price {
    font-size: 20px;
    color: #444;
    margin: 20px;
}
.btn {
    padding: 5px 35px;
    border-radius: 3px;
    border: 1px solid orange;
    color: white;
    background-color: orange;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    transition: 0.3s;
}
.btn:hover {
    color: orange;
    background-color: transparent;
}

.modal {
    width: 800px;
    height: 70vh;
    overflow: auto;
    position: fixed;
    background-color: white;
    border: 2px solid orange;
    border-radius: 13px;
    padding: 20px;
    top: 15vh;
    left: calc(50% - 400px);
}
.modal__header {
    display: flex;
    justify-content: flex-end;
}
.close-btn {
    color: #444;
    transition: 0.3s;
    cursor: pointer;
}
.close-btn:hover {
    color: black;
}

.modal__body {
    display: flex;
    width: 100%;
    gap: 20px;
}
.modal__image {
    width: 40%;    
}
.modal__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.modal__properties{
    display: flex;
    flex-direction: column;
    color: #999;
    font-style: italic;
}
.modal__composition {
    color: #999;
    font-style: italic;
}
.modal__price {
    font-size: 24px;
    color: #444;
}